.grid-container {
    background: #87CEFA;
    border-radius: 2%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.grid-image {
    width: 60%;
    /* Ensures the image takes up the full width of its container */
    max-width: 60%;
    /* Prevents the image from exceeding its original size */
    height: auto;
    /* Keeps the aspect ratio of the image */
    position: relative;
    z-index: 2;
}

.jaffa-token {
    width: 7.2%;
    height: auto;
    position: absolute;
    bottom: 11%;
    /* Position at the bottom of the grid container */
    left: 25.3%;
    /* Position at the left of the grid container */
    z-index: 1;
    /* Puts it behind the grid image but in front of the background */
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2%;
    width: 100%;
    padding: 0;
    padding-bottom: 1%;
}

/* Default button size for normal screen sizes */
.grid-button {
    padding: 2.5%;
    border-radius: 50%;
    background-color: rgb(50, 32, 0);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Keeps the shadow */
    border: none;
    /* Add a solid gold border */
    transition: background-color 0.3s ease;
    z-index: 3;
}


.grid-button:hover {
    background-color: #b16304;
    /* Slightly darker on hover */
}

.winner-message {
    text-align: center;
    margin-top: 1%;
    font-size: x-large;
    color: #b16304;
    font-family: 'Rancho', cursive;
}

.reset-button {
    margin-top: 1%;
    padding: 1% 1%;
    font-size: large;
    cursor: pointer;
    background-color: #00008b;
    border: none;
    border-radius: 1%;
    color: rgb(255, 132, 0);
    font-family: 'Gudea', sans-serif;
}