.grid-container {
    background: #87CEFA;
    border-radius: 2%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.grid-image {
    width: 60%;
    /* Ensures the image takes up the full width of its container */
    max-width: 60%;
    /* Prevents the image from exceeding its original size */
    height: auto;
    /* Keeps the aspect ratio of the image */
    position: relative;
    z-index: 2;
}

.jaffa-token {
    width: 7.2%;
    height: auto;
    position: absolute;
    bottom: 11%;
    /* Position at the bottom of the grid container */
    left: 25.3%;
    /* Position at the left of the grid container */
    z-index: 1;
    /* Puts it behind the grid image but in front of the background */
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2%;
    width: 100%;
    padding: 0;
    padding-bottom: 1%;
}

.grid-button {
    padding: 3%;
    border-radius: 50%;
    background-color: rgb(50, 32, 0);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: none;
    transition: background-color 0.1s ease, opacity 0.1s ease;
    z-index: 3;
    opacity: 0;
}

.grid-button.default-visible {
    opacity: 1;
}

.buttons-container:hover .grid-button {
    opacity: 0;
}

.buttons-container .grid-button:hover {
    opacity: 1;
    background-color: #b16304;
}


/* For the hover token to disappear when another button is hovered */
.buttons-container .grid-button.default-visible:hover {
    opacity: 1;
}



.winner-message {
    text-align: center;
    margin-top: 1%;
    font-size: x-large;
    color: #b16304;
    font-family: 'Rancho', cursive;
}

.reset-button {
    margin-top: 1%;
    padding: 1% 1%;
    font-size: large;
    cursor: pointer;
    background-color: #00008b;
    border: none;
    border-radius: 1%;
    color: rgb(255, 132, 0);
    font-family: 'Gudea', sans-serif;
}

@keyframes jaffa-rain {
    0% {
        transform: translateY(-40vh) rotate(0deg);
        opacity: 0.8;
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        /* Adjusted to make the tokens fall all the way */
        opacity: 1;
    }
}


.jaffa-rain {
    position: absolute;
    top: 0;
    width: 4vh;
    height: 4vh;
    z-index: 1000;
    animation: jaffa-rain 7s linear infinite;
}

@keyframes jaffa-opacity {

    0%,
    20% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.jaffa-rain:nth-child(odd) {
    animation: jaffa-rain 5s linear infinite, jaffa-opacity 3s ease-in-out infinite;
}