.grid-container {
    background: #87CEFA;
    margin-top: 0%;
    height: 60%;
    padding: 10%;
    border-radius: 2%;
    box-sizing: border-box;
    position: relative;
    /* Allows positioning of child elements */
}

.grid-image {
    width: 60%;
    /* Ensures the image takes up the full width of its container */
    max-width: 60%;
    /* Prevents the image from exceeding its original size */
    height: auto;
    /* Keeps the aspect ratio of the image */
    position: relative;
    z-index: 2;
    /* Ensures it's on top of the FrontJaffa image */
}

.jaffa-token {
    width: 6%;
    height: auto;
    position: absolute;
    bottom: 24%;
    /* Position at the bottom of the grid container */
    left: 30%;
    /* Position at the left of the grid container */
    z-index: 1;
    /* Puts it behind the grid image but in front of the background */
}