.RepeatButtonDesign {
    padding: "10px 20px";
    margin-top: "20px";
    margin-bottom: "20px";
    cursor: "pointer";
    background-color: "#00008b";
    color: "white";
    border: "none";
    border-radius: "5px";
}