.RepeatButtonDesign {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #00008b;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
}