.flappy-Background-container {
    background-image: url('./BlueBackground.png');
    /* Import the background image */
    background-repeat: no-repeat;
    /* Prevent tiling */
    background-size: contain;
    /* Make the image fit the container without cropping */
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Hide any overflow */
    max-width: 100%;
}