.App {
  border: 50px solid rgb(0, 0, 139);
  text-align: center;
  padding: 40px;
}

.App-header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.App-background {
  background-image: url(./JAFFA-CAKE-MISSHAPE.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: lightskyblue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}

.App-link {
  color: rgb(255, 132, 0);
}

.App-title {
  color: darkblue;
}

.App-imposter {
  color: brown;
}



/* Navbar container style */
.navbar {
  background-color: #00008b;
  padding: 10px;
  border-radius: 10px;
}

/* Styles for the list of nav items */
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Style for individual nav links */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}